body {
  background-image: url('assets/background.png');
      background-position: top right;
      background-repeat: no-repeat;
}

body,*{
  font-family: 'Mulish';
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem 2rem;
  justify-content: space-between;
}

.user-list {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem 2rem;
  justify-content: space-between;
}